<h3>以下の内容で投稿する</h3>

<%= form_for(@blog) do |f| %>
    <%= f.label :content %>
    <%= f.hidden_field :content %>
    <br>
    <p><%= @blog.content %></p>
    <%= f.submit "Tweet!"%>
    
<% end %>

<%= form_for(@blog, url:new_blog_path, method:'get') do |f| %>
    <%= f.hidden_field :content %>
    <%= f.submit "戻る", name: 'back' %>
<% end %>
